// SPACING
$space-00: .2em;
$space-01: .4em;
$space-02: .8em;
// -------

// FONT SIZES
$font-01: 12px;
$font-02: 18px;
$font-03: 24px;
$font-04: 36px;
$font-05: 42px;
// -------

// OTHER
$border-radius: 5px;
// -------