@import "../../app.scss";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;700&family=Montserrat:wght@100;300;400;700&display=swap');

.heading {
    font-family: $font-family;
    font-size: $font-04;
    text-align: center;
    padding: $space-02 0;
    border-radius: $border-radius;

    &-filled {
        background-color: $dark;
        color: $light;
    }

    &-subtext {
        font-size: $font-02;
    }
}