@import "../../app.scss";

.task {
    padding: $space-02 0;
    border-radius: $border-radius;
    background-color: $dark;
    color: $light;

    margin-bottom: $space-00; // to create a gap between items

    &-completed {
        background-color: $success;
        &:hover {
            background-color: darken($success, 10%) !important;
            cursor: pointer;
            transition: $transition-time;
        }
    }

    &:hover {
        background-color: $warning;
        cursor: pointer;
        transition: $transition-time;

        .checkbox-icon {
            transition: $transition-time;
            transform: scale(1.2);
        }
    }
}