@import "../../app.scss";

.menuContext {
    width: 10em;
    background-color: $dark;
    border-radius: $border-radius;
    color: $light;
    padding: $space-01 $space-02;
    font-size: $font-03;

    position: absolute;

    .menu-context-item:not(:last-child) {
        border-bottom: 1px solid rgba($light, .15);
    }

    .menu-context-item {
        &:hover {
            cursor: pointer;
            transition: $transition-time;

            .menu-context-item-border {
                background-color: darken($dark, 10%);
            }
        }

        &-border {
            border-radius: $border-radius;
            padding: 0 $space-01;
            margin: $space-00 0;
        }
    }
}